.white_btn{
    border: 2px solid orange;
    width: 195px;
    height: 40px;
    border-radius: 5px;
    
    text-decoration: none;

    margin: 5px 0px;

    display: inline-block;
}

.right_arrow_2{
    color: black;
    text-align: center;

    display: inline-block;
}

.blc_btn_2{
    color: black;
    text-align: left;

    padding: 10px;

    display: inline-block;
}

.black_btn{
    display: inline-block;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;

}
.right_arrow_1{
    color: white;
    text-align: left;

    display: inline-block;
    padding-right: 10px;
}

.blc_btn_1{
    color: white;
    text-align: center;
    padding: 10px;
    display: inline-block;
}
.yellow_btn{
    display: inline-block;
    text-decoration: none;
    background-color: yellow;
    border-radius: 5px;
}
.right_arrow_3{
    color: black;
    text-align: center;
    display: inline-block;
    padding-right: 10px;
}
.blc_btn_3{
    color: black;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.orange_btn{
    display: inline-block;
    text-decoration: none;
    background-color: orange;
    border-radius: 5px;
    margin: 5px 0px;
}

.right_arrow_4{
    color: black;
    display: inline-block;
    padding-right: 10px;
    text-align: center;
}
.blc_btn_4{
    color: black;
    padding: 10px;
    text-align: center;
    display: inline-block;
}
.gray_btn{
    display: inline-block;
    text-decoration: none;
    background-color: darkgray;
    border-radius: 5px;
    
}

.right_arrow_5{
    display: inline-block;
    color: gray;
    padding-right: 10px;
    text-align: center;
}
.blc_btn_5{
    padding: 10px;
    color: gray;
    display: inline-block;
    text-align: center;
}
