.right_arrow_1{
    background-color: black;
    color: white;
}
.blc_btn_1{
    background-color: black;
    color: white;
}
.border_2{
    border: 3px solid orange;
}
.right_arrow_2{
    background-color: white;
    color: black;
}
.blc_btn_2{
    background-color: white;
    color: black;
}
.right_arrow_3{
    background-color: yellow;
    color: black;
}
.blc_btn_3{
    background-color: yellow;
    color: black;
}
.right_arrow_4{
    background-color: orange;
    color: black;
}
.blc_btn_4{
    background-color: orange;
    color: black;
}

.right_arrow_5{
    background-color: darkgray;
    color: gray;
}
.blc_btn_5{
    background-color: darkgray;
    color: gray;
}
